body {
    background: linear-gradient(to bottom, darkgreen, green, lightgreen, palegreen);
    }

.Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.player-image {
  width: 80px;  /* Adjust as needed */
  height: 80px; /* Keep aspect ratio */
  border-radius: 50%; /* Makes it circular */
  object-fit: cover; /* Ensures the image fills the space */
  border: 2px solid white; /* Optional: Adds a border */
}
